 body {
    background-color: #ECF9FF;
     }

hr {
     border-style: none;
      border-top: dotted grey;
     border-width: 4px;
         width: 100%;
       }
      h1 {
        color: blue;
      }
      h3 {
        color: blue
      }
